:root {
  --background-color: rgb(20, 19, 19);
  --font-clr: #fff;
  --font-large: 6rem;
  --font-medium: 2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--font-clr);
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
  outline: 1px solid green;
}

.main-container {
  outline: 3px solid red;
  height: 50vh;
  width: 50vh;
  text-align: center;
}

.content {
  font-size: var(--font-large);
  letter-spacing: 0.5rem;
  padding: 2rem;
  border: 1px solid green;
}


